.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
html {
  background-color:rgb(54, 54, 54)
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

.topcon {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}
#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    border: 1px black solid;
    margin: 0 auto;
}

.flex-item {
    width: 100px;
    height: 200px;
    border: 1px black solid;
    background: #369;
}